<h5> WELCOME TO MY WEBSITE </h5>

<p><a href = "/blogs"> Visit my Blog! </a> </p>
<p><a href = "/locations"> Check out some code on maps </a></p>
<p><a href = "/madlibs"> Check out some sample projects I have been working on </a></p>
<p><a href = "/money"> Check out some money tools I have expertise in </a></p>
<p><a href = "/tips"> This is a list of tips on software and life I have been keeping </a></p>
<p><a href = "/videos"> Check out some nifty videos </a></p>


<%= link_to 'New Home', new_home_path %>
